apply plugin: SpringEnterpriseRepositoryPlugin

class SpringEnterpriseRepositoryPlugin implements Plugin<Gradle> {
    void apply(Gradle gradle) {
        gradle.allprojects { project ->
            project.repositories {
                // add the Spring enterprise repository
                maven {
                    name "SPRING_ENTERPRISE_REPO"
                    url "__SPRING_ENTERPRISE_REPOSITORY_URL__"

                    credentials {
                      username "__SPRING_ENTERPRISE_REPOSITORY_USERNAME__"
                      password "__SPRING_ENTERPRISE_REPOSITORY_PASSWORD__"
                    }
                    authentication {
                      basic(BasicAuthentication)
                    }
                }
            }
        }
    }
}