<settings>
  <servers>
    <server>
      <id>spring-enterprise-subscription</id>
      <username>${env.SPRING_ENTERPRISE_REPOSITORY_USERNAME}</username>
      <password>${env.SPRING_ENTERPRISE_REPOSITORY_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>spring-enterprise</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>spring-enterprise-subscription</id>
          <url>${env.SPRING_ENTERPRISE_REPOSITORY_URL}</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>spring-enterprise-subscription</id>
          <url>${env.SPRING_ENTERPRISE_REPOSITORY_URL}</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>spring-enterprise</activeProfile>
  </activeProfiles>
</settings>