name: Guide Advisor

on:
  schedule:
    - cron: '0 0 * * 1' # Every Monday at midnight
  workflow_dispatch: # Allow manual runs

jobs:
  discover-guides:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      github-app-token: ${{ steps.generate-token.outputs.token }}
    steps:
      - name: Generate GitHub App Token
        id: generate-token
        uses: ./.github/actions/generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Find guide repositories and directories
        id: set-matrix
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
          GH_ORG: ${{ github.repository_owner }}
        run: |
          repos=$(gh repo list $GH_ORG --limit 1000 --json name --jq '.[] | .name | select(startswith("gs-"))')
          matrix="[]"
          for repo in $repos; do
            echo "Checking repo: $repo"
            temp_dir=$(mktemp -d)
            gh repo clone "$GH_ORG/$repo" "$temp_dir" -- --depth 1
            for dir in initial complete initial-kotlin complete-kotlin; do
              if [ -d "$temp_dir/$dir" ]; then
                echo "Found directory: $dir in $repo"
                entry="{\"repo\":\"$GH_ORG/$repo\", \"directory\":\"$dir\"}"
                matrix=$(echo "$matrix" | jq --argjson entry "$entry" '. + [$entry]')
              fi
            done
            rm -rf "$temp_dir"
          done
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  run-advisor-on-guides:
    needs: discover-guides
    if: fromJSON(needs.discover-guides.outputs.matrix) != '[]'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.discover-guides.outputs.matrix) }}
    steps:
      - name: Download Advisor
        id: download-advisor
        env:
          ADVISOR_TOKEN: ${{ secrets.SPRING_ENTERPRISE_TOKEN }}
          ADVISOR_VERSION: '1.5.2'
          ADVISOR_REPOSITORY: 'https://packages.broadcom.com/artifactory/spring-enterprise'
        run: |
          curl -L -H "Authorization: Bearer $ADVISOR_TOKEN" -o advisor-cli.tar "${ADVISOR_REPOSITORY}/com/vmware/tanzu/spring/application-advisor-cli-linux/${ADVISOR_VERSION}/application-advisor-cli-linux-${ADVISOR_VERSION}.tar"
          tar -xf advisor-cli.tar --strip-components=1 --exclude=./META-INF
          echo "advisor-path=$(pwd)" >> $GITHUB_OUTPUT

      - name: Run Advisor on ${{ matrix.repo }} (${{ matrix.directory }})
        uses: ./run-advisor
        with:
          spring-enterprise-token: ${{ secrets.SPRING_ENTERPRISE_TOKEN }}
          spring-enterprise-username: ${{ secrets.SPRING_ENTERPRISE_USERNAME }}
          advisor-path: ${{ steps.download-advisor.outputs.advisor-path }}
          target-repo: ${{ matrix.repo }}
          directory: ${{ matrix.directory }}
          github-app-token: ${{ needs.discover-guides.outputs.github-app-token }}
